1. Uss *fastANI* –  

Firstly download refseq first, rename it then run code

Code - 

`./fastANI -q Your_File.fasta -r RefSeq.fasta -o FastANI.txt`

**NOTE** Needs to be 95% or higher for match

2. Use *Proksee* for visualization and other features for FastANI

[Source Page](https://proksee.ca/)