## Using fastANI

1. **Download RefSeq**
   - Download the RefSeq file and rename it.

2. **Run fastANI**
   - Code:
     ```bash
     ./fastANI -q Your_File.fasta -r RefSeq.fasta -o FastANI.txt
     ```
   - **Note:** Match should be 95% or higher.

## Proksee for Visualization and Additional Features

- [Proksee Source Page](https://proksee.ca/)

Proksee is recommended for visualization and additional features when working with FastANI results.

